[net]
batch=48
subdivisions=1
width=96
height=96
channels=3

learning_rate=0.1
policy=poly
power=4
max_batches = 20000
momentum=0.9
decay=0.0005

#conv1
[convolutional]
batch_normalize=1
filters=96
size=7
stride=2
pad=1
activation=relu

#pool1
[maxpool]
size=3
stride=2
padding=0

#fire2/squeeze1x1
[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=0
activation=relu

#fire2/expand1x1
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire2/expand3x3
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

#fire3/squeeze1x1
[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=0
activation=relu

#fire3/expand1x1
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire3/expand3x3
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

#fire4/squeeze1x1
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

#fire4/expand1x1
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire4/expand3x3
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

[maxpool]
size=2
stride=2

#fire5/squeeze1x1
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

#fire5/expand1x1
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire5/expand3x3
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

#fire6/squeeze1x1
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=relu

#fire6/expand1x1
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire6/expand3x3
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

#fire7/squeeze1x1
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=relu

#fire7/expand1x1
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire7/expand3x3
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

#fire8/squeeze1x1
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

#fire8/expand1x1
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire8/expand3x3
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

[maxpool]
size=3
stride=2
padding=0

#fire9/squeeze1x1
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

#fire9/expand1x1
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=relu

[route]
layers=-2

#fire9/expand3x3
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

[route]
layers=-3,-1

[dropout]
probability=.5

[convolutional]
batch_normalize=0
filters=2
size=1
stride=1
pad=0
activation=linear

[avgpool]

[softmax]
